.home-wrapper{
    height: 100%;
    position: relative;
    .img-wrap{
        height: 100vh;
        overflow: hidden;
        position: absolute;
        box-sizing: border-box;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        .imgg{
            position: absolute;
            /* Position the image in the middle of its container. */
            top: -9999px;
            right: -9999px;
            bottom: -9999px;
            left: -9999px;
            margin: auto;
            /* The following values determine the exact image behaviour. */
            /* You can simulate background-size: cover/contain/etc.
                by changing between min/max/standard width/height values.
                These values simulate background-size: cover
            */
            min-width: 100%;
            min-height: 100%;
            transition: opacity 900ms ease-in-out, transform 10s linear;
            &.top-img{
                z-index: 10;
            }
        }
    }
    .header{
        position: fixed;
        top: -1px;
        left: 0px;
        right: 0px;
        z-index: 210;
        transition: all 600ms ease;
        &.highlight{
            background-color: #fff;
            box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.1);
            .width-wrap{
                .clogo{
                    color:#000;
                }
                .menu-items{
                    .mitem{
                        color:#000;
                    }
                }
            }
            
        }
        .width-wrap{
            max-width: 1188px;
            padding: 20px 0px;
            margin: 0px auto;
            display: flex;
            align-items: center;
            position: relative;
            .clogo{
                font-size: 32px;
                color: #fff;
                position: fixed;
                left: 40px;
                top: 20px;
                img{
                    width: 50px;
                }
            }
            .menu-items{
                flex:1;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .mitem{
                    margin: 0px 20px;
                    padding: 10px 15px;
                    cursor: pointer;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 16px;
                }
                .reg-btn{
                    margin-left: 30px;
                }
            }
        }
    }
    .intro{
        .mask{
            position: absolute;
            top:0;
            left: 0;
            right: 0;
            height: 300px;
            z-index: 111;
            background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
        }
        .inner-container{
            max-width: 1188px;
            margin: 0px auto;
            display: flex;
            align-items: center;
            position: relative;
            z-index: 200;
            height: 100%;
            box-sizing: border-box;
            .sec-title{
                color: #ffffff !important;
                font-weight: 800 !important;
                
                font-size: calc(2.4vw + 9px) !important;
                width: 900px;
                margin:0px auto;
                margin-bottom: 15px;
                .t{
                    max-width: 600px;
                    text-shadow: 1px 1px 40px rgba(22, 23, 31, 0.4) !important;
                }
            }
            .search{
                width: 900px;
                margin:0px auto;
            }
        }
    }
    .modal-wrap{
        position: fixed;
        top:0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        .modal{
            width: 90%;
            height: 90%;
            background-color: #000;
            border-radius: 4px;
            box-shadow:0px 20px 20px 0px rgba(0, 0, 0, 0.4);
            position: relative;
            .modal-mask{
                position: absolute;
                z-index: 2;
                left: 0px;
                right: 0px;
                top:0px;
                height: 180px;
                background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.0));
                pointer-events: none;
            }
            .img-holder{
                width: 100%;
                height: 100%;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                z-index: 1;
                background-color: #000;
                display: flex;
                align-items: center;
                justify-content: center;
                .img-hh{
                    min-width: 100%;
                    min-height: 100%;
                    max-width: 100%;
                    max-height: 100%;
                    position: absolute;
                    z-index: 2;
                }
                .dcanvas{
                    position: absolute;
                    top:0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 3;
                    .rec{
                        position: absolute;
                        border:3px solid red;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        transition: all 500ms ease;
                        &.flash{
                            transform: scale(1.1);
                            opacity: 1;
                            border:3px solid yellow;
                        }
                        span{
                            padding: 5px 10px;
                            background-color: rgba(0,0,0,0.9);
                            border-radius: 10px;
                            color: #fff;
                            font-size: 15px;
                            letter-spacing: 1.5px;
                            cursor: pointer;
                        }
                        .rec-drop{
                            position: absolute;
                            width: 220px;
                            background-color: rgba(0,0,0,0.9);
                            min-height: 100px;
                            top:28px;
                            padding:10px;
                            color:#fff;
                            .subcats{
                                margin-top:10px;
                                .rec-subcat{
                                    margin: 5px 0px;
                                    cursor: pointer;
                                    padding: 2px;
                                    border-radius: 5px;
                                    transition: all 200ms ease;
                                    &:hover{
                                        background-color: rgba(255,255,255,0.5);
                                    }
                                    &.selected{
                                        background-color: rgba(255,255,255,0.5);
                                    }
                                }
                            }
                            .norecsubcat{
                                text-align: center;

                            }
                        }
                    }
                }
            }
            .close-btn{
                position: absolute;
                right: 20px;
                top:15px;
                width: 40px;
                height: 40px;
                cursor: pointer;
                padding: 5px;
                border-radius: 5px;
                transition: all 300ms ease;
                z-index: 6;
                &:hover{
                    transform: scale(1.1);
                }
            }
            .top-navigation{
                position: relative;
                z-index: 5;
                display: flex;
                height: 80px;
                justify-content: flex-end;
                align-items: center;
                padding-right: 120px;
                pointer-events: none;
                .nav-item{
                    margin: 5px 10px;
                    padding: 10px 20px;
                    position: relative; 
                    pointer-events: all;
                    &.selected{
                        border-bottom: 2px solid white;
                    }
                    .nmae{
                        font-size: 18px;
                        color: #fff;
                        cursor: pointer;
                    }
                    .nav-card{
                        position: absolute;
                        width: 500px;
                        min-height: 200px;
                        background-color: #fff;
                        border-radius: 10px;
                        box-shadow: 2px 20px 20px 0px rgba(0,0,0,0.2);
                        right: 0px;
                        top:50px;
                        opacity: 0;
                        overflow: hidden;
                        transition: all 500ms ease;
                        pointer-events: none;
                        &.show{
                            opacity: 1;
                            pointer-events: all;
                        }
                        .quality-err{
                            margin-top: 30px;
                            font-size: 20px;
                            text-align: center;
                        }
                        .close{
                            position: absolute;
                            right:10px;
                            top:10px;
                            width: 30px;
                            height: 30px;
                            cursor: pointer;
                            padding: 5px;
                            border-radius: 5px;
                            transition: all 300ms ease;
                            z-index: 6;
                        }
                        .imgquality-progress{
                            position: absolute;
                            top:0px;
                            left: 0px;
                            right:0px;
                            bottom:0px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 20px;
                            font-size: 22px;
                            background-color: #fff;
                        }
                        .img-quality-wrap{
                            padding: 10px 20px;
                            .tit{
                                font-size: 22px;
                                    font-weight: bold;
                                    margin-bottom: 10px;
                            }
                            .ov-wrap{
                                &:first-child{
                                    margin-top: 30px;
                                }
                                margin: 10px 0px;
                                padding-bottom: 5px;
                                .ov-title{
                                    font-size: 24px;
                                    margin-top: 20px;
                                    margin-bottom: 10px;
                                }
                                .ov-nodata{
                                    font-size: 19px;
                                    margin: 2px 0px;
                                }
                                .ov-row{
                                    display: flex;
                                    align-items: center;
                                    .ov-lbl{
                                        font-size: 18px;
                                        font-weight: lighter;
                                        flex:1
                                    }
                                    .ov-val{
                                        font-size: 22px;
                                        font-weight: bold;
                                    }
                                }
                            }
                            .sa-tag{
                                padding: 5px 20px;
                                background-color: rgba(0,0,0,0.1);
                                border-radius: 20px;
                                display: inline-block;
                                margin: 5px 5px;
                                cursor: pointer;
                                font-size: 13px;
                            }
                            .row-item{
                                display: flex;
                                margin: 10px 0px;
                                align-items: center;
                                flex-wrap: wrap;
                                &:first-child{
                                    margin-top: 40px;
                                }
                                .qlbl{
                                    flex:1;
                                    font-size: 20px;
                                    margin-right: 10px;
                                }
                                .qval{
                                    font-size: 22px;
                                    font-weight: bold;
                                }
                                .qtag{
                                    padding: 5px 20px;
                                    background-color: rgba(0,0,0,0.1);
                                    border-radius: 20px;
                                    display: inline-block;
                                    margin: 5px 5px;
                                    cursor: pointer;
                                    font-size: 13px;
                                    transition: all 200ms ease;
                                    &:hover{
                                        background-color: rgba(0, 0, 0, 0.2)
                                    }   
                                    &.selected{
                                        background-color: rgba(0, 0, 0, 0.4)
                                    } 
                                    &.s{
                                        background-color: #248cf7;
                                        color:#fff;
                                    }
                                }
                            }
                            .quality-wrap{
                                margin-bottom: 30px;
                                border-bottom: 1px solid #ccc;
                                .quality-title{
                                    font-size: 22px;
                                    font-weight: bold;
                                    margin-bottom: 10px;
                                }
                                .qitm{
                                    padding: 5px 20px;
                                    padding-left: 40px;
                                    border-radius: 20px;
                                    display: inline-block;
                                    margin: 10px;
                                    font-size: 18px;
                                    background-size: 20px;
                                    background-position: 10px 50%;
                                    background-repeat: no-repeat;
                                    &.good{
                                        border:1px solid #5ecc8b;
                                        background-color: #5ecc8b;
                                        color:#fff;
                                        background-image: url("../../images/tick-sign.svg");
                                        
                                    }
                                    &.bad{
                                        border:1px solid red;
                                        background-color: red;
                                        color:#fff;
                                        background-image: url("../../images/cross-mark.svg");
                                    }
                                }
                            }
                            .quality-err{
                                margin-top: 30px;
                                font-size: 20px;
                            }
                            .quality-img-score{
                                padding-top: 10px;
                                margin-top: 20px;
                                .prg-wrap{
                                    width: 80px;
                                }
                                .score-lbl{
                                    font-size: 18px;
                                    flex: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.leaflet-container {
    height: 503px;
    z-index: 5;
    .leaflet-control-container{
        display: none;
    }
    .leaflet-popup-content-wrapper{
        padding: 0px;
        background-color: rgba(0,0,0,0);
        background: rgba(0,0,0,0.4);
        .leaflet-popup-content{
            margin: 0;
            .popup-container{
                width: 240px;
                min-height: 60px;
                background-color: rgba(0,0,0,0.2);
                border-radius: 12px;
                color:#fff;
                font-family: "Muli-Regular";
                padding: 5px 15px;
                .imsg{
                    text-align: center;
                    margin-top: 10px;
                    font-size: 18px;
                }
                .location-info{
                    .ti{
                        text-align: center;
                        font-size: 18px;
                        margin-bottom: 20px;
                    }
                    .row-item{
                        margin: 10px 0px;
                        display: flex;
                        align-items: center;
                        img{
                            width: 12px;
                            margin-right: 10px;
                        }
                        .lbl{
                            flex:1;
                        }
                        .val{
                            font-weight: bold;
                            text-transform: capitalize;
                            text-align: right;
                            span{
                                margin:0px 5px;
                            }
                        }
                    }
                    .btn{
                        width: 100px;
                        margin:10px auto;
                        border-radius: 5px;
                        background-color:#4b96f3;
                        padding: 5px 10px;
                        text-align: center;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .leaflet-popup-tip-container{
        .leaflet-popup-tip{
            background: rgba(0,0,0,0.4);
        }
    }
    .leaflet-popup-close-button{
        display: none;
    }
}

.home-icon{
    background-image: url("../../images/house.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.8);
    border:1px solid #ccc;
}

.CircularProgressbar-path       { stroke: red; }
.CircularProgressbar-trail      { stroke: #eee; }
.CircularProgressbar-text       { fill: yellow; margin-left: -10px}
.CircularProgressbar-background { fill: green; }


@keyframes flashAnim {
    50%{
        transform: scale(1.2);
    }
}